.display-none{
    display: none;
}
#tree1,ul{
    list-style: none;
    margin: 0;
    padding-left:20px;
}
ul:after{
    display: block;
    visibility: hidden;
    height: 0;
    content: '';
    clear: both;
}
li{
   padding:8px;
}