<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://unpkg.com/vue/dist/vue.js"></script>
</head>
<body>
    <div id="app">
        {{message}}
    </div>
    <div id="app-3">
        <p v-if="seen">现在你看到我了</p>
    </div>
    <div id="app-4">
        <ol>
            <li v-for="todo in todos">
                {{todo.text}}
            </li>
        </ol>
    </div>
    <div id="app-5">
        <p>{{message}}</p>
        <button v-on:click="reverseMessage">逆转消息</button>
    </div>
    <div id="app-6">
        <p>{{message}}</p>
        <input v-model="message">
    </div>
    <div id="app-7">
        <ol>
            <todo-item v-for="item"></todo-item>
        </ol>
    </div>
    <div id="app-8">
        <p>Original message:"{{message}}"</p>
        <p>Computed reversed message:"{{reverseMessage}}"</p>
    </div>
</body>
<script>
    var app = new Vue({
        el:'#app',
        data:{
            message:'hello vue!'
        }
    });
    var App3 = new Vue({
        el:"#app-3",
        data:{
            seen:true
        }
    });
    var app4 = new Vue({
        el:"#app-4",
        data:{
            todos:[
                {text:"学习JavaScript"},
                {text:"学习vue"},
                {text:"学习牛项目"}
            ]
        }
    });
    var app5 = new Vue({
        el:"#app-5",
        data:{
            message:"Hello Vue!"
        },
        methods:{
            reverseMessage:function () {
                this.message = this.message.split('').reverse().join('');
            }
        }
    });
    var app6 = new Vue({
        el:"#app-6",
        data:{
            message:"hello Vue"
        }
    });
    Vue.component('todo-item',{
        props:['todo'],
        template:'<li>{{todo.text}}</li>'
    });
    var app7 = new Vue({
        el:"#app-7",
        data:{
            groceryList:[
                {text:'蔬菜'},
                {text:'奶酪'},
                {text:'随便其他什么人吃的东西'}
            ]
        }
    });
    var vm = new Vue({
        el:"#app-8",
        data:{
            message:'Hello'
        },
        computed:{
            reverseMessage:function () {
                return this.message.split('').reverse().join('');
            }
        }
    });

</script>
</html>